@media (min-width: 512px) {
  #hamburger {
    display: none;
  }

  nav {
    display: flex !important;
    flex-direction: row;
    justify-content: space-around;
  }

  .grid {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
}
